.parallax {
    height: 500px;
    background: transparent;
}

body {
  padding-top: 20px;
  color: white;
/*  position: relative;*/
  background-image: url("/images/hubbledeep.png");
  /*  background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0 64;
    background-size: auto; */
}.App {
      text-align: center;
      }.App-logo {
        animation: App-logo-spin infinite 8s linear;
        height: 80px;
      }#logo {
        display: inline-block;
        margin: 0 auto;
        position: absolute;
      }@keyframes App-logo-spin {
        from { transform: rotate(0deg); }
        50%  { transform: rotate(360deg); }
        100% { transform: rotate3d(0, 1, 0, 180deg); }
      }                 
/*Construction Component*/
#uC {
    text-align: center;
    text-fill-color: linear-gradient(yellow, black);
    text-shadow:
    -2px -2px 0 #804000,
    2px -2px 0 #ff8000,
    -2px 2px 0 #804000,
    2px 2px 0 #663300;
    animation: construction 4s linear 3s infinite alternate;
}@keyframes construction {
  0% { color: orange-red; left: 100px; }
  100% {color: orange; left: 20%; }
}
#myName {
  text-align: center;
  padding-top: 35px;
  text-shadow:
    -2px -2px 0 #804000,
    2px -2px 0 #ff8000,
    -2px 2px 0 #804000,
    2px 2px 0 #663300;
}
.center {
  
}
/*end Construction Component*/

.redText {
  color:red;
}

#nav1 {
  position: absolute;
  left: 3em;
  top: 7em;
  width: 10em;
}
#nav2 {
  position: absolute;
  left: 3em;
  top: 10em;
  width: 10em;
}
#nav3{
  position: absolute;
  left: 3em;
  top: 13em;
  width: 10em;
}
#nav4 {
  position: absolute;
  left: 3em;
  top: 16em;
  width: 10em;
}
#nav5 {
  position: absolute;
  left: 3em;
  top: 19em;
  width: 10em;
}

#init {
  top: 12em;
  text-align:center;
}

#loluwotm8 {
  top:98%;
  font-family: Robotica;
  font-size: 12em;
}
.clock {
  text-align: center;
  margin-top: 5px;
}

/*BIO*/
#h1Bio {
  text-align: center;
  text-shadow:   
    -2px -2px 0 #804000,
    2px -2px 0 #ff8000,
    -2px 2px 0 #804000,
    2px 2px 0 #663300;
}
.textIndent {
  text-indent: 2em;
}
/*Trivia*/
  #getQuestions {
    position: absolute;
    top: 25%;
    left: 40%;
    text-align: center;
    width: 55%;
  }
/*Galley*/
.thesePics{
 transform: rotate(90deg);  
  height: 500px;
  width: 500px;
  padding-top:25px;
}
.thatPics{
  padding-top:25px;
  height:50em;
  width:50em;
}
#triviaButton{
  margin-left: 25em;
}
#hangmanButton{
  margin-left:30em;
}