body {
  padding-top: 20px;
  color: white;
  position: relative;
  background-image: url("/images/construction.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0 64;
    background-size: auto; 
}.App {
      text-align: center;
      }.App-logo {
        animation: App-logo-spin infinite 8s linear;
        height: 80px;
      }#logo {
        display: inline-block;
        margin: 0 auto;
        position: absolute;
      }@keyframes App-logo-spin {
        from { transform: rotate(0deg); }
        50%  { transform: rotate(360deg); }
        100% { transform: rotate3d(0, 1, 0, 180deg); }
      }                 
/*Construction Component*/
#uC {
    text-align: center;
    text-fill-color: linear-gradient(yellow, black);
    text-shadow:
    -2px -2px 0 #804000,
    2px -2px 0 #ff8000,
    -2px 2px 0 #804000,
    2px 2px 0 #663300;
    animation: construction 4s linear 3s infinite alternate;
}@keyframes construction {
  0% { color: orange-red; left: 100px; }
  100% {color: orange; left: 20%; }
}
#myName {
  text-align: center;
  padding-top: 35px;
  text-shadow:
    -2px -2px 0 #804000,
    2px -2px 0 #ff8000,
    -2px 2px 0 #804000,
    2px 2px 0 #663300;
}

.navbar {
 background-color: rgba(255,255,255,0);
 display: inline-block;
}.navi {
  display: inline-flex;
  align-content: right;
}

.clock {
  text-align: center;
  margin-top: 5px;
}

/*BIO*/
#h1Bio {
  text-align: center;
  text-shadow:   
    -2px -2px 0 #804000,
    2px -2px 0 #ff8000,
    -2px 2px 0 #804000,
    2px 2px 0 #663300;
}